<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index ::  dynamic(~{::main})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>

<body >
    <main th:object="${item}">
        <div class="tieude row">

            <div class=" a col-5">
                <h3>Quản lý đơn hàng > <a style="color: #640310;" href="/"> Trang chủ</a></h3>
            </div>

        </div>
        <hr>

        <div class="row" style="margin-top: 50px;">
            <div class="col-2" style="margin-left: 5%;margin-top: 10px; height: 400px;">
                <div class="row">
                    <img style="margin-left: 20%;width: 180px; height: auto;" th:src="@{|/rest/upload/images/*{avatar}|}" alt="">
                   </div>
                <div class="row">
                    <h2 style="margin-left: 33%; font-weight: 700 !important;">[[${#request.remoteUser}]]</h2>
                </div>
                <div class="row" style="margin-top: 20px;margin-left: 20%;">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAVRJREFUSEu1lY0xBEEQRt9FwkWACISACBABIkAEXASIAJE4ESAS6l3tqLm+2dm/2q7autqbnn49PV/3LpjZFjPHpw/gAjgGDpvHnNbN8wa815KsAU6BB2C/45TfwA0gbMfaAI/A1cDyuUfQlpUAY4KnoCvgOidEgGV5HZh5dD/LyxUB1nNvIsAYyxQjB6iWp4nB0/b/U+SAZ+A8ALw078S6qqjc7ps1E4trL4D/b/WB2j5oEYFS/QprlsFyaL9hzVhHERCdXDdzs1GydyGI70k1t20tkJeoBJhyJZvYOaBUorGAzzRWui7ZOgqumTPqIzgUL7nUZM4XJVczfU6CQ1Gm+pQa7RJQwiUr9c5PPiD7jgqzFJJGs6e1Z/yNVh0VOs867FI2YyA7kzTKNB7V4wvqGn7W3IYc9MHJYYJ8lGMaJepc+Rq0GDgF6PNNHttsm32zA/4AsaZAGSvkecYAAAAASUVORK5CYII=" />
                    <a href="" th:href="@{/account/details}"
                    style="margin-left: 10px;">Thông tin
                        tài khoản</a>
                </div>
                <div class="row" style="margin-top: 20px;margin-left: 20%;">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAFtJREFUSEtjZKAxYKSx+QyjFhAM4QEJov9QZ8Esh/EJuhZNH5iLzQc0t4BYlxKlbkDigCiXEatoQOJgNJJRomdAUhHN44DmFhCbxIlSNyBxQJTLiFU06gOCIQUAArwMGUsaCXEAAAAASUVORK5CYII=" />
                    <a href="" th:href="@{/order/list}" style="margin-left: 10px;">Quản lý đơn hàng</a>
                </div>
                <div class="row" style="margin-top: 20px;margin-left: 19%;">
                    <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAFtJREFUSEtjZKAxYKSx+QyjFhAM4QEJov9QZ8Esh/EJuhZNH5iLzQc0t4BYlxKlbkDigCiXEatoQOJgNJJRomdAUhHN44DmFhCbxIlSNyBxQJTLiFU06gOCIQUAArwMGUsaCXEAAAAASUVORK5CYII=" />
               
                   <a href="" th:href="@{/order/listlike}"  style="margin-left: 10px; color: rgb(24, 0, 245);font-weight: 700 !important;">Danh sách sản phẩm yêu thích</a>
                </div>
                <div class="row" style="margin-top: 20px;margin-left: 19%;">
                    <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAFtJREFUSEtjZKAxYKSx+QyjFhAM4QEJov9QZ8Esh/EJuhZNH5iLzQc0t4BYlxKlbkDigCiXEatoQOJgNJJRomdAUhHN44DmFhCbxIlSNyBxQJTLiFU06gOCIQUAArwMGUsaCXEAAAAASUVORK5CYII=" />
               
                   <a href="" th:href="@{/doitra/list}"  style="margin-left: 10px; ">Danh sách yêu cầu đổi trả</a>
                </div>
                <hr style="margin-left: 20%; width: 50%;">

            </div>
            <div class="col-9">


                <div class="giohang">

                    <div class="hanghoa row">
                        <div class="table col-10" >
                            <table>

                                <tr>

                                    <td>Tên sản phẩm</td>

                                    <td>
                                        Hình ảnh
                                    </td>
                                    <td>Giá</td>
                                  


                                    <td>
                                        Hành động
                                    </td>



                                </tr>



                                <tr style="height: 30px;" ng-repeat="item in cartlike.items">

                                    <td style="    width: 40%;
                                    font-size: 16px;">{{item.productName}}</td>

                                    <td class="thumbnail">
                                        <img th:src="@{/rest/upload/images/{{item.anhChinh}}}" alt="">
                                    </td>
                                    <td>{{item.gia | currency:"":0}} VNĐ</td>
                     


                                    <td> <a class="btn " th:href="@{|/product/details/{{item.productId}}|}" style="background-color: #525050;color: #fff;"><i
                                                class="fas fa-save"></i>
                                            <span>xem chi tiết</span>
                                        </a>

                                        <!-- th:href="@{|/order/detail/${bn.orderId}}" -->
                                        <a class="btn " ng-click=cart.add(item.productId) style="background-color: #640310;color: #fff;"><i
                                                class="fas fa-save"></i>
                                            <span>Thêm vào giỏ hàng</span>
                                        </a>
                                        <a class="btn " ng-click="cartlike.remove(item.productId)"
                                            style="background-color: #160536;color: #fff;"><i class="fas fa-save"></i>
                                            <span>Xóa</span>
                                        </a>

                                    </td>



                                </tr>



                            </table>
                        </div>

                    </div>

                </div>

       <hr>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </main>
</body>

</html>