<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index ::  dynamic(~{::main})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>

<body>
    <main>
  <div class="all">

    
    <div class="productcungloai1">
        <h3 class="heading"> Sản phẩm nổi bật</h3>
        <div class="list-product">
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                    <a href="" class="buy-now">ASUS FOT 505</a>
                </div>
             
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                    <a href="" class="buy-now">ASUS FOT 505</a>
                </div>
                
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                    <a href="" class="buy-now">ASUS FOT 505</a>
                </div>
                
            </div>










        </div>
    </div>

    <div class="productcungloai">
        <h3 class="heading">Sản phẩm mới nhất</h3>
        <div class="list-product">
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                    <a href="" class="buy-now">Mua ngay</a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                    <a href="" class="buy-now">Mua ngay</a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                    <a href="" class="buy-now">Mua ngay</a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                    <a href="" class="buy-now">Mua ngay</a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>









        </div>
    </div>

    <div class="productcungloai">
        <h3 class="heading">Dành cho bạn</h3>
        <div class="list-product">
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                    </a>
                </div>
                <p>Laptop ACER Nitro 5 Eagle</p>
                <b>14560$</b>
            </div>









        </div>
    </div>
</div>
       
    </main>
</body>
</html>