<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index ::  dynamic(~{::main})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>

<body>
    <main>
        <div class="loigioithieu">
            <h3 class="heading"> Giới Thiệu</h3>
            <p>
                Hiện nay , laptop là công cụ thiết yếu để làm việc của con người đi cùng với xu hướng phát triển mạnh trong những năm gần đây , nhu cầu mua sắm cũng phát triển dẫn đến số lượng laptop gia tăng đáng kể 
                khi mua laptop khách hàng sẽ phải lựa chọn màu sắc , thông số cấu hình  , mẫu mã làm mất thời gian với việc mua sắm trực tiếp tại cửa hàng có thể dẫn đến việc quá tải ngoài ý muốn sảy ra ,
                Để xử lý những tình huống đó Poly's Computer được thiết kế dựa trên lợi ích chung của khách hàng ,đi cùng với công nghệ số ,  sự tiện lợi khi mua sắm giảm thời gian cho việc lựa chọn các loại laptop 
                , giúp khách hàng chủ động hơn trong việc mua hàng và hạn chế việc tiếp xúc với nhau trong tình trạng dịch bệnh hiện nay , khi đơn đặt hàng của khách hàng được xác nhận thì sẽ được gửi và vận chuyển ,
                nhận hàng trực tiếp tới tay khách hàng .
    
            </p>
        </div>
          <div class="danhmuc">
              <h3 class="heading"> Thành viên tham gia dự án </h3>
              <div id ="warpper" class="">
                <ul class="list-person">
                    <li>
                        <a href="#nam">
                        <img src="/images/nam.jpg" alt="">      
                              <div class="name">Trần Phương Nam</div>
                    </a>
                    </li>
                    <li>
                        <a href="#thanh">
                            <img src="/images/thanhjpg.jpg" alt="">  
                                      <div class="name">Trần Viết Thành</div>
                    </a>
                    </li>
                    <li>
                        <a href="#huy">
                            <img src="/images/huy.png" alt="">    
                                    <div class="name">Phạm Quốc Huy</div>
                    </a>
                    </li>
                    <li>
                        <a href="#son">
                            <img src="/images/son.jpg" alt="">
                        <div class="name">Nguyễn Tấn Sơn</div></a>
                        
                    </li>
                    
                </ul>
            </div>
          </div>
          <div id="nam"></div>
    
          <div class="thongtin">
            <h3 class="heading"> Trần Phương Nam</h3>
            <div class="row">
            <div class="img-thanhvien col-3">
                <img src="/images/nam.jpg" alt="" > 
                    </div>
                    <div class="img-thanhvien col-6">
                        <h2>Họ tên : Trần Phương Nam</h2>
                        <h3>Leader</h3>
                        <ul>
                            <li>Là một thành viên vui tính , hòa đồng , có tinh thần trách nhiệm với công việc luôn giúp đỡ thành viên của nhóm khi cần</li>
                            <li><b>Nhiệm vụ :</b> </li>
                            <li>thiết kế giao diện khách hàng</li>
                            <li>code tiện ích khách hàng : giỏ hàng , đăng nhập , đăng ký , mua hàng, so sánh , đổi trả , bình luận ...</li>
                            <li>mức độ hoàn thiện dự án (30%) </li>
                        </ul>
                        </div>
            </div>
            
        </div>
        <div id="thanh"></div>
    
        <div class="thongtin">
            <h3 class="heading"> Trần Viết Thành</h3>
            <div class="row">
            <div class="img-thanhvien col-3">
                <img src="/images/thanhjpg.jpg" alt="" > 
                    </div>
                    <div class="img-thanhvien col-6">
                        <h2>Họ tên : Trần Viết Thành</h2>
                        <h3>Member</h3>
                        <ul>
                            <li>Là một thành viên vui tính , hòa đồng , có tinh thần trách nhiệm với công việc luôn giúp đỡ thành viên của nhóm khi cần</li>
                            <li><b>Nhiệm vụ :</b> </li>
                            <li>thiết kế giao diện Quản Lý</li>
                            <li>code tiện ích Quản lý ví dụ ( các tác vụ của quản lý , thống kê )</li>
                            <li>mức độ hoàn thiện dự án (30%) </li>
                        </ul>
                        </div>
            </div>
            
        </div>
        <div id="huy"></div>
    
        <div class="thongtin">
            <h3 class="heading"> Phạm Quốc Huy</h3>
            <div class="row">
            <div class="img-thanhvien col-3">
                <img src="/images/huy.png" alt="" > 
                    </div>
                    <div class="img-thanhvien col-6">
                        <h2>Họ tên : Phạm Quốc Huy</h2>
                        <h3>Member</h3>
                        <ul>
                            <li>Là một thành viên vui tính , hòa đồng , có tinh thần trách nhiệm với công việc luôn giúp đỡ thành viên của nhóm khi cần</li>
                            <li><b>Nhiệm vụ :</b> </li>
                            <li>code tiện ích Quản lý ví dụ ( các tác vụ của quản lý  )</li>
                            <li>Viết test case , Báo cáo</li>
                            <li>mức độ hoàn thiện dự án (20%) </li>
                        </ul>
                        </div>
            </div>
            
        </div>
        <div id="son"></div>
    
        <div class="thongtin">
            <h3 class="heading"> Nguyễn Tấn Sơn</h3>
            <div class="row">
            <div class="img-thanhvien col-3">
                <img src="/images/son.jpg" alt="" > 
                    </div>
                    <div class="img-thanhvien col-6">
                        <h2>Họ tên : Nguyễn Tấn Sơn</h2>
                        <h3>Member</h3>
                        <ul>
                            <li>Là một thành viên vui tính , hòa đồng , có tinh thần trách nhiệm với công việc luôn giúp đỡ thành viên của nhóm khi cần</li>
                            <li><b>Nhiệm vụ :</b> </li>
                            <li>code tiện ích Quản lý ví dụ ( các tác vụ của quản lý  )</li>
                            <li>Viết test case , Báo cáo</li>

                            <li>mức độ hoàn thiện dự án (20%) </li>
                        </ul>
                        </div>
            </div>
            
        </div>
        <br>
        <div class="loigioithieu">
            <h3 class="heading"> Lời cảm ơn</h3>
            <p>
                Trước hết chúng em xin chân thành cảm ơn đến quý Thầy, Cô chuyên ngành Ứng Dụng Phần Mềm <mark>Trường Cao đẳng FPT Polytechnic Đà Nẵng</mark>,
                 những người đã trực tiếp giảng dạy, truyền đạt những kiến thức bổ ích cho chúng em trong thời gian qua, đó sẽ là nền tảng cơ bản, là hành trang vô cùng quý giá, là bước đầu tiên cho chúng em bước vào sự nghiệp sau này.
        Em cũng xin gửi lời cảm ơn chân thành đến Cô <b>Vũ Thị Thanh Huyền</b> đã giúp đỡ, dạy dỗ, chỉ bảo nhiệt tình. Với điều kiện thời gian cũng như kinh nghiệm còn hạn chế của mỗi sinh viên, dự án này của chúng em không thể tránh được những thiếu sót. Nhóm chúng em rất mong nhận được sự chỉ bảo, đóng góp ý kiến của các thầy cô để chúng em bổ sung, nâng cao ý thức của mình, phục vụ tốt hơn công việc thực tế sau này. 
        Cuối cùng, chúng em kính chúc quý Thầy, Cô luôn vui vẻ, hạnh phúc, sức khỏe dồi dào và luôn thành công trong công việc. 
    Xin chân thành cảm ơn!
    
    
            </p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>

</body>

</html>