<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index ::  dynamic(~{::main})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>

<body>
    <main>

    <div class="tieude row">
    
    <div class=" a col-3">
        <h3>Giỏ hàng</h3>
    </div>
    <div  class=" b col-sm-5">
        <a href="">Xóa tất cả</a>
    </div>
</div>
<hr>
     
    <div class="giohang">
        <div class="header row">
            <div class="header-logo col-3">
                <img src="images/logos/logo2.png" alt="" width="80px">
                <h2 class="ten">Poly's Computer</h2>
            </div>
            <div class="header-sum col-sm-5">
                <h3>31.000.000$</h3>
            </div>
        </div>
        <div class="hanghoa row">
            <div class="table col-8">
                <table>
                    
                    <tr>
                        <td class="thumbnail"> 
                            <img  src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                        </td>
                        <td >Poly'sutCohoạt độkhách hàng sự tiện</td>
                        <td><input   type="number" min="1" style="width: 150px;" /></td>
                        <td>50.000 $  <p style="text-decoration: line-through;">15000</p></td>
                        <td> <a href=""><img style="width: 30px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPpJREFUSEvlle0VwTAYhZ9uwARsgAmwARswAZswAhOwARtgAmxgA87tSXoi2tOmlV/Nr+b0zf14k9wkRB5JZHyKCBbAChhWFHAFtsDer/cJOsApANjHE9EUeNkfPoEKBsATWAOaP0pc9I0gOeiZNaM8AgFuDLhak6mo2Ca5lyCRLIGd1rkOrPo5cKwI6pfNgIPrwiV4m+puDfWWSO26m0mKnUfQ9OhaoS0isJaL9t1vaXCLohOEnthgB+0iiH7RbFTcbCL/8yYr7C6AXOSG3dfuB+ysABXximt9Z+qLsigA+6dU4JOiB+cMjGuiC1gO0jfAHU2Ts1RPdIIPdFc7Gd4QT4EAAAAASUVORK5CYII="/></a> </td>

    
                    </tr>
                    <tr>
                        <td class="thumbnail"> 
                            <img  src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                        </td>
                        <td >Poly'sutCohoạt độkhách hàng sự tiện</td>
                        <td><input   type="number" min="1" style="width: 150px;" /></td>
                        <td>50.000 $ <p style="text-decoration: line-through;">15000</p></td>
                        <td> <a href=""><img style="width: 30px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPpJREFUSEvlle0VwTAYhZ9uwARsgAmwARswAZswAhOwARtgAmxgA87tSXoi2tOmlV/Nr+b0zf14k9wkRB5JZHyKCBbAChhWFHAFtsDer/cJOsApANjHE9EUeNkfPoEKBsATWAOaP0pc9I0gOeiZNaM8AgFuDLhak6mo2Ca5lyCRLIGd1rkOrPo5cKwI6pfNgIPrwiV4m+puDfWWSO26m0mKnUfQ9OhaoS0isJaL9t1vaXCLohOEnthgB+0iiH7RbFTcbCL/8yYr7C6AXOSG3dfuB+ysABXximt9Z+qLsigA+6dU4JOiB+cMjGuiC1gO0jfAHU2Ts1RPdIIPdFc7Gd4QT4EAAAAASUVORK5CYII="/></a> </td>

    
                    </tr>
                    <tr>
                        <td class="thumbnail"> 
                            <img  src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                        </td>
                        <td >Poly'sutCohoạt độkhách hàng sự tiện</td>
                        <td><input   type="number" min="1" style="width: 150px;" /></td>
                        <td>50.000 $  <p style="text-decoration: line-through;">15000</p></td>
                        <td> <a href=""><img style="width: 30px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPpJREFUSEvlle0VwTAYhZ9uwARsgAmwARswAZswAhOwARtgAmxgA87tSXoi2tOmlV/Nr+b0zf14k9wkRB5JZHyKCBbAChhWFHAFtsDer/cJOsApANjHE9EUeNkfPoEKBsATWAOaP0pc9I0gOeiZNaM8AgFuDLhak6mo2Ca5lyCRLIGd1rkOrPo5cKwI6pfNgIPrwiV4m+puDfWWSO26m0mKnUfQ9OhaoS0isJaL9t1vaXCLohOEnthgB+0iiH7RbFTcbCL/8yYr7C6AXOSG3dfuB+ysABXximt9Z+qLsigA+6dU4JOiB+cMjGuiC1gO0jfAHU2Ts1RPdIIPdFc7Gd4QT4EAAAAASUVORK5CYII="/></a> </td>

    
                    </tr>
                    <tr>
                        <td class="thumbnail"> 
                            <img  src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                        </td>
                        <td >Poly'sutCohoạt độkhách hàng sự tiện</td>
                        <td><input   type="number" min="1" style="width: 150px;" /></td>
                        <td>50.000 $  <p style="text-decoration: line-through;">15000</p></td>
                        <td> <a href=""><img style="width: 30px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPpJREFUSEvlle0VwTAYhZ9uwARsgAmwARswAZswAhOwARtgAmxgA87tSXoi2tOmlV/Nr+b0zf14k9wkRB5JZHyKCBbAChhWFHAFtsDer/cJOsApANjHE9EUeNkfPoEKBsATWAOaP0pc9I0gOeiZNaM8AgFuDLhak6mo2Ca5lyCRLIGd1rkOrPo5cKwI6pfNgIPrwiV4m+puDfWWSO26m0mKnUfQ9OhaoS0isJaL9t1vaXCLohOEnthgB+0iiH7RbFTcbCL/8yYr7C6AXOSG3dfuB+ysABXximt9Z+qLsigA+6dU4JOiB+cMjGuiC1gO0jfAHU2Ts1RPdIIPdFc7Gd4QT4EAAAAASUVORK5CYII="/></a> </td>

    
                    </tr>
                    <tr>
                        <td class="thumbnail"> 
                            <img  src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                            alt="">
                        </td>
                        <td >Poly'sutCohoạt độkhách hàng sự tiện</td>
                        <td><input   type="number" min="1" style="width: 150px;" /></td>
                        <td>50.000 $  <p style="text-decoration: line-through;">15000</p></td>
                        <td> <a href=""><img style="width: 30px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPpJREFUSEvlle0VwTAYhZ9uwARsgAmwARswAZswAhOwARtgAmxgA87tSXoi2tOmlV/Nr+b0zf14k9wkRB5JZHyKCBbAChhWFHAFtsDer/cJOsApANjHE9EUeNkfPoEKBsATWAOaP0pc9I0gOeiZNaM8AgFuDLhak6mo2Ca5lyCRLIGd1rkOrPo5cKwI6pfNgIPrwiV4m+puDfWWSO26m0mKnUfQ9OhaoS0isJaL9t1vaXCLohOEnthgB+0iiH7RbFTcbCL/8yYr7C6AXOSG3dfuB+ysABXximt9Z+qLsigA+6dU4JOiB+cMjGuiC1gO0jfAHU2Ts1RPdIIPdFc7Gd4QT4EAAAAASUVORK5CYII="/></a> </td>

    
                    </tr>
                    
    
                </table>
            </div>
            <div class="thanhtoan-col-4">
                
                <div  class="panel panel-default">
                    
                    <div class="panel-body">
                        <h2>Thanh toán</h2>
                        <p>thành tiền</p>
                        <b>31.000.000 $</b>
                        <a href="thanhtoan.html" type="button" class="muahang">
                            <p>Tiếp tục thanh toán</p> </a>

                                      </div>
                                     
                </div>

                <div class="quangcaodetai">
                    <a href="">
                        <img  src="https://lh3.googleusercontent.com/RSQtratbdvzk1A4p8AHcXkqfRUGNHsO4fECdBEAPmtJ5u3e-OPE1-QysvD9gI1dzi8BajwJXPXHtdATTo3kEdubPHjPWDGed7g=w500-rw"
                        alt="">
                    </a>
                </div>
                
                
                
            </div>
        </div>
    </div>


  


    <hr>
    
    </main>
</body>
</html>