<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800" ><a class="text-darkblue-800" style="cursor: pointer;" href="#">Trang chủ</a> > Quản Lý > Phân Quyền</h1>
  </div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-list"></i> Phân quyền người sử dụng</h6>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="bg-success" style="font-variant: small-caps; color: black;">
                <tr>
                    <th>HỌ TÊN </th>
                    <th ng-repeat="role in roles" class="text-center">{{role.roleName}}</th>
                </tr>
            </thead>
            <tbody ng-if="admins.length > 0">
                <tr ng-repeat="acc in admins">
                    <td>{{acc.fullName}}</td>
                    <th class="text-center" ng-repeat="role in roles">
                    <input ng-checked="authority_of(acc, role)" ng-click="authority_changed(acc, role)" type="checkbox" >
                </th>
                </tr>
            </tbody>
          </table>
          <p style="text-align: center; color: darkblue; font-weight: 800;" ng-if="!admins.length > 0">Chưa có người dùng</p>
          <div class="row" ng-if="admins.length > 0">
              <div class="col-sm-6">
                Hiển thị <span>{{(pager.page+1)*5-4}}</span> trên {{(pager.page+1)*5}} trong danh sách bình luận
              </div>
              <div class="col-sm-6">
                <button ng-click="pager.first()" class="btn btn-primary">
                    <i class="fas fa-step-backward"></i>
                </button>
                <button ng-click="pager.prev()" class="btn btn-primary">
                    <i class="fas fa-backward"></i>
                </button>
                <button class="btn btn-success">{{pager.page + 1}}/{{pager.count}} trang</button>
                <button ng-click="pager.next()" class="btn btn-primary">
                    <i class="fas fa-forward"></i>
                </button>
                <button ng-click="pager.last()" class="btn btn-primary">
                    <i class="fas fa-step-forward"></i>
                </button>
              </div>
          </div>
         
    </div>
</div>