
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Trang Chủ <i class="fas fa-arrow-right fa-xs"></i> Sản Phẩm <i class="fas fa-arrow-right fa-xs"></i> Thêm mới Sản Phẩm</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Thêm mới Sản Phẩm</h6>
                        </div>
                        <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>Tên sản phẩm:</div>
                                            <input ng-model="form.name" class="form-control" value="ASUS 162">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Thương Hiệu:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>ASUS</option>
                                                <option value="">Lenovo</option>
                                                <option value="">DELL</option>
                                                <option value="">HP</option>
                                                <option value="">MAC</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>Danh Mục Sản Phẩm:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>Laptop Gaming</option>
                                                <option value="">Laptop Sinh Viên</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Pin:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>3 cell 48 Wh , Pin liền</option>
                                                <option value="">Giá tăng dần</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>RAM:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>1 x 8GB DDR4 2933MHz ( 2 Khe cắm / Hỗ trợ tối đa 32GB )</option>
                                                <option value="">Laptop Sinh Viên</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Lưu Trữ:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>512GB SSD M.2 NVMe /</option>
                                                <option value="">Giá tăng dần</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>CPU:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>Intel Core i5-10300H ( 2.5 GHz - 4.5 GHz / 8MB / 4 nhân, 8 luồng )</option>
                                                <option value="">Laptop Sinh Viên</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Thế Hệ CPU:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>Core i5 , Intel Core thế hệ thứ 10</option>
                                                <option value="">Giá tăng dần</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>Chip đồ họa:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>NVIDIA GeForce GTX 1650 4GB GDDR6 / Intel UHD Graphics</option>
                                                <option value="">Laptop Sinh Viên</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Màu:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>Xám</option>
                                                <option value="">Giá tăng dần</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>Hệ Điều Hành:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>Windows 10 Home 64-bit</option>
                                                <option value="">Laptop Sinh Viên</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Cổng Xuất Hình:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>1 x HDMI</option>
                                                <option value="">Giá tăng dần</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>Số Cổng Lữu Trữ Tối Đa:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>1 x M.2 NVMe</option>
                                                <option value="">Laptop Sinh Viên</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Bảo Hành:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>12</option>
                                                <option value="">Giá tăng dần</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>Giá:</div>
                                            <input ng-model="form.price" class="form-control" value="19.000.000">
                                            <i th:errors="*{price}"></i>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Số Lượng:</div>
                                            <input ng-model="form.discount" class="form-control" value="15">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>Khối Lượng:</div>
                                            <input ng-model="form.price" class="form-control" value="1.3">
                                            <i th:errors="*{price}"></i>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Kích Thước:</div>
                                            <input ng-model="form.discount" class="form-control" value="35.9 x 25.6 x 2.49 cm">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>Màn Hình:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>15.6" ( 1920 x 1080 ) Full HD IPS 144Hz</option>
                                                <option value="">Giá tăng dần</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Cổng Kết Nối:</div>
                                            <select class="form-control">
                                                <option value="" disabled selected>
                                                    1 x USB Type C / DisplayPort</option>
                                                <option value="">Giá tăng dần</option>
                                                <option value="">Giá giảm dần</option>
                                                <option value="">Trên xuống</option>
                                                <option value="">Dưới lên</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>Giảm Giá:</div>
                                            <input ng-model="form.discount" class="form-control" value="1">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Hình đại diện:</div>
                                            <input type="file" ng-model="form.discount" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <label for="">Mô tả:</label>
                                            <textarea name="" id="" cols="100%" rows="2" class="form-control"></textarea>
                                        </div>
                                    </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">Lưu</button>
                            <button class="btn btn-secondary">Hủy</button>
                        </div>
                    </div>