<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-list"></i> Danh Sách Số Cổng Lưu Trữ Tối Đa</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 form-group">
                <form>
                    <div class="form-inline float-left">
                        <input type="text"class="form-control mr-2" name="name" id="name" ng-model="find.soCongLuuTruToiDaName"
                            aria-describedby="helpId" >
                        <button class="btn btn-outline-success my-2 my-sm-0 mr-2" ng-click="find.finAndFills()">Tìm kiếm</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 form-group">
                    <button class="btn btn-primary float-right" ng-click="goToAdd()">Thêm Số Cổng Lưu Trữ Tối Đa</button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" style="width:25%">Mã Số Cổng Lưu Trữ Tối Đa</th>
                <th scope="col" style="width:50%">Tên</th>
                <th scope="col" style="width:25%">Hành Động</th>
              </tr>
            </thead>
            <tbody ng-if="items.length > 0">
                <tr ng-repeat="item in pager.items">
                    <th scope="row">{{item.soCongLuuTruToiDaId}}</th>
                    <th scope="row">{{item.soCongLuuTruToiDaName}}</th>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button ng-click="edit(item)" class="btn btn-warning"><i class="fas fa-camera fa-xs"></i></button>
                            <button ng-click="delete(item)" class="btn btn-danger"><i class="fas fa-trash fa-xs"
                                    aria-hidden="true"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody> 
          </table>
          <p style="text-align: center; color: darkblue; font-weight: 800;" ng-if="!items.length > 0">Chưa có số cổng lưu trữ tối đa</p> 
          <div class="row" ng-if="items.length > 0">
              <div class="col-sm-6">
                Hiển thị Số Cổng Lưu Trữ Tối Đa thứ <span>{{(pager.page+1)*5-4}}</span> đến {{(pager.page+1)*5}} trong danh sách Số Cổng Lưu Trữ Tối Đa
              </div>
              <div class="col-sm-6">
                <button ng-click="pager.first()" class="btn btn-primary">
                    <i class="fas fa-step-backward"></i>
                </button>
                <button ng-click="pager.prev()" class="btn btn-primary">
                    <i class="fas fa-backward"></i>
                </button>
                <button class="btn btn-success">{{pager.page + 1}}/{{pager.count}} trang</button>
                <button ng-click="pager.next()" class="btn btn-primary">
                    <i class="fas fa-forward"></i>
                </button>
                <button ng-click="pager.last()" class="btn btn-primary">
                    <i class="fas fa-step-forward"></i>
                </button>
              </div>
          </div>
         
    </div>
</div>