@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
html{
    font-family:'Quicksand' , sans-serif;
    scroll-behavior: smooth;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 110px;z-index: 999;
}
article{
    position: absolute;
    
    right: 0px;
    left: 0px;
}

.gia{
    display: inline-block;

}
.hidden{
    display: none;
}
footer{
    width: 100%;
    background: #640310;
    color: rgb(255, 255, 255);
    text-align: center;
  height: 300px;
  
}
footer .footer-item{
width: 30%;
display: inline-block;
line-height: 30px;

}
footer .about{
    width: 30%;
    display: inline-block;
    line-height: 55px;
    
    }

footer .footer-item h3{
    margin: 30px 0;
}
footer .link a{
    display:  block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 3px 0;
}
footer .contact a{
    display:  block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px 0;
}

.thongbao{
    height: 40px;
    text-align: center;
    background: #640310;
    color: white;
    line-height: 40px;
}
.menu-logo{
    height: 90px;
    position: relative;
    background: rgb(238, 237, 237);
}
.menu-logo .logo{
    position: absolute;
    top: -14px;
    left: 80px;
}


.dm{
    position: absolute;
    top: 30%;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
    border-radius: 4px;
    line-height: 1rem;
    padding: 0.4rem 0.75rem;
    text-align: center;
    color: rgb(1, 1, 2);
    margin-left: 15%;
}


.menu-logo .search input{
    position: absolute;
    top: 30%;
    width: 20%;
    margin-left: 15%;
   
}
.menu-logo .search button{
    position: absolute;
    top: 30%;
    height: 37px;
    margin-left: 35%;
   
}
.menu-logo nav{
    position: absolute;
    top: 10px;
    right: 70px;

}
.menu-logo nav a{
   text-decoration: none;
   color: #000;
   line-height: 70px;
   margin-left: 50px;
   

} 
.menu-logo nav  a:hover{
    color: #640310 ;
font-weight: bold;
    transition: all .4s linear;
 } 



.banner{
    margin: 0 auto;
    margin-top: 140px;
}
.banner img{
    width: 150%;

}

.product .heading{
    font-size: 28px;
    color:#640310 ;
    text-align:  center;
    margin: 40px 0;
}
.product .headingX{
    font-size: 28px;
    color:#640310 ;
    margin-left: 88%;

}
.container .heading1{
    font-size: 28px;
    color:#640310 ;
    text-align:  center;
    margin: 40px 0;
}
.container .heading1::after {

    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #640310;
    left: 36%;
    margin-top: 50px;
}
.allproduct .list-product{
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 2px;
    column-gap: 2px;
    background: #F6F6F6;
    padding: 2px 0;
    margin-left: 5%;
    height: auto;
    width: 90%;
}

.product .heading::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background-color:#640310;
    left: 47%;
    margin-top: 50px;

}
.product .list-product{
    margin-left: 90px;
    background-color: transparent;
}
.product .list-product .product-item {

    
    margin-top: 30px;

    width: 19%;
    display: inline-block;
    border: 2px solid #f8f8fc;
    
}
.product .list-product .product-item .product-top{
    position: relative;
    overflow: hidden;
}
.product .list-product .product-item:hover .product-top .product-thumb img{
/*làm to ảnh*/
    transform: scale(1.1);
    /*làm chậm hiệu ứng chuyển đôngj*/
    transition:  all 0.5s ease-in-out;
/*làm mờ khi hover*/
filter:opacity(80%) }
.product .list-product .product-item .product-top .product-thumb img{

width: 100%;
}
.product .list-product .product-item .name{
    
    white-space: nowrap; 
  max-width: 80%; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10%;
}
.product .list-product .product-item  .gia{
    margin-left: 40px;
  
}
.product .list-product .product-item b{
    color: #0c5bee;
    margin-left: 30px;
}

.product .list-product .product-item .product-top a.buy-now{


    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #640310;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: -45px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
 }
 .product .list-product .product-item .product-top button.like{


    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #9e9a9a;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: 58px;
    bottom: -55px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
 }
 .product .list-product .product-item .product-top:hover button.like{
  
    bottom: 55px;
   }
   .product .list-product .product-item .product-top button.like:hover{
    background-color: #f3a38f;
    opacity: 0.85;
    
   }


   .product .list-product .product-item .product-top button.sosanh{


    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #9e9a9a;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: auto;
    margin-left: 83%;
    bottom: -85px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
 }
 .product .list-product .product-item .product-top:hover button.sosanh{
    
    bottom: 55px;
   }
   .product .list-product .product-item .product-top button.sosanh:hover{
    background-color: #f3a38f;
    opacity: 0.85;
    
   }

    .list-product .product-item .product-top button.sosanh{


    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #9e9a9a;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: auto;
    margin-left: 83%;
    bottom: -85px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
 }
 .list-product .product-item .product-top:hover button.sosanh{
    
    bottom: 55px;
   }
    .list-product .product-item .product-top button.sosanh:hover{
    background-color: #f3a38f;
    opacity: 0.85;
    
   }



 .product .list-product .product-item .product-top:hover a.buy-now{

 bottom: 0px;
}


.productall{
    background-color: #e4e4e4;
    border-radius: 25px;
    height: 900px;
}
.productall .heading{
    font-size: 28px;
    color:#640310 ;
    text-align:  center;
    margin: 40px 0;
}
.productall .heading::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background-color:#640310;
    left: 47%;
    margin-top: 50px;

}
.productall .list-product{
    margin-left: 90px;
    background-color: transparent;
}
.container {
    width: 100%;
}
.container .heading{
    font-size: 28px;
    color:#640310 ;
    text-align:  center;
    margin: 40px 0;
}
.container .heading::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background-color:#640310;
    left: 47%;
    margin-top: 50px;

}

.wap-ss-img{ 
    text-align: center;
    width: 100%;
 }


.wap-ss-img:hover img{
     /*làm to ảnh*/
 transform: scale(1.1);
 /*làm chậm hiệu ứng chuyển đôngj*/
 transition:  all 0.5s ease-in-out;
/*làm mờ khi hover*/
filter:opacity(80%)
}
        .wap-ss-img img{ width: 200px; 
            height: 250px; 
            margin: 0 auto;
            border-radius: 20px; 
        }
        .textleft{ 
            text-align: center;
         }
        .slick-prev:before, .slick-next:before{
            font-family: fontawesome;
            font-size: 30px;
            color: rgb(0, 0, 0);
            width: 100px;
            background-color: #0c5bee;
            
        }
        .slick-prev:before{
            content:'\f100';
        }
        .slick-next:before{
            content:'\f101';
        }
.productall .list-product .product-item {

    
    margin-top: 30px;
border-radius: 20px;
    width: 12%;
    display: inline-block;
    border: 2px solid #640310;
    background-color: #fff;

}
.productall .list-product .product-item .product-top{
    position: relative;
    overflow: hidden;
}
.productall .list-product .product-item:hover .product-top .product-thumb img{
/*làm to ảnh*/
    transform: scale(1.1);
    /*làm chậm hiệu ứng chuyển đôngj*/
    transition:  all 0.5s ease-in-out;
/*làm mờ khi hover*/
filter:opacity(80%) ;
border-radius: 20px;

}
.productall .list-product .product-item .product-top .product-thumb img{
    border-radius: 20px;

   max-width: 100%;
}
.productall .list-product .product-item p{
    margin-left: 10px;
    font-size: 12px;
    height: 50px;

}
.productall .list-product .product-item b{
    margin-left: 10px;
    color: #0c5bee;
margin-top: 30px;



}
.productall .list-product .product-item .product-top a.buy-now{


    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #640310;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: -45px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
 }
 .productall .list-product .product-item .product-top:hover a.buy-now{

 bottom: 0px;
}

/* danhmuc */
.danhmuc .heading{
    font-size: 28px;
    color:#640310 ;
    text-align:  center;
    margin: 40px 0;
}
.danhmuc .heading::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background-color:#640310;
    left: 47%;
    margin-top: 50px;

}
.danhmuc .list-danhmuc .danhmuc-item{

    margin-left: 80px;
    width: 15%;
    display: inline-block; 
    margin-top: 60px;
}
.danhmuc .list-danhmuc .danhmuc-item a img{
    border-radius: 30px;
    height: auto;
   width: 100%;
}
.danhmuc .list-danhmuc .danhmuc-item:hover a img{
/*làm to ảnh*/
    transform: scale(1.1);
    /*làm chậm hiệu ứng chuyển đôngj*/
    transition:  all 0.5s ease-in-out;
/*làm mờ khi hover*/
filter:opacity(80%) }
.danhmuc .list-danhmuc .danhmuc-item p{
    text-align: center;
    font-size: 30px;
}
.danhmuc .list-danhmuc .danhmuc-item:hover p{
    text-align: center;
    font-size: 35px;
    color: red;
    font-weight: bold;
    transition: all .4s linear;
}

.tacgia{
    background: white;
    color: black;
    text-align: center;
    padding: 10px;
}
.tacgia p{
padding-top: 10px;
}
.backtotop{
    width: 50px;
    height: 50px;
    background-color: #f53809;
    text-align: center;
    position: fixed;
    border-radius: 25px ;
z-index: 999;
bottom: 0px;
right: 0px;
margin-bottom: 80px;
display: inline-block;

margin-right: 50px;
}
.backtotop a img{
    margin-top: 10px;

}



.facebook{
    width: 50px;
    height: 50px;
    background-color: #0c5bee;
    text-align: center;
    position: fixed;
    border-radius: 25px ;
z-index: 999;
bottom: 0px;
right: 0px;
margin-bottom: 170px;
margin-right: 50px;
}
.facebook a img{
    margin-top: 10px;
}

.location{
    width: 50px;
    height: 50px;
    background-color: #f8f53d;
    text-align: center;
    position: fixed;
    border-radius: 25px ;
z-index: 999;
bottom: 0px;
right: 0px;
margin-bottom: 250px;
margin-right: 50px;
}
.location a img{
    margin-top: 10px;
}

.gmail{
    width: 50px;
    height: 50px;
    background-color: #cac9c9;
    text-align: center;
    position: fixed;
    border-radius: 25px ;
z-index: 999;
bottom: 0px;
right: 0px;
margin-bottom: 320px;
margin-right: 50px;
}
.gmail a img{
    margin-top: 10px;
}
.phantrang{
    margin-top: 30px;
    margin-left: 43%;
}
.product-slider{
    margin-left: 90px;
    background-color: transparent;
}
.product-slider .product-item {

    
    margin-top: 30px;
   
    width: 19%;
    display: inline-block;
    border: 2px solid #f8f8fc;
    border-radius: 20px;
    
}
.product-slider .product-item .product-top{
    position: relative;
    overflow: hidden;
}
.product-slider .product-item:hover .product-top .product-thumb img{
    transform: scale(1.1);
     text-align: center;
    border-radius: 20px;

    /*làm chậm hiệu ứng chuyển đôngj*/
    transition:  all 0.5s ease-in-out; }
.product-slider.product-item .product-top .product-thumb img{


    max-width: 100%;
    border-radius: 20px;
}
.product-slider .product-item .name{
    
    white-space: nowrap; 
  max-width: 80%; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10%;
}
.product-slider .product-item  .gia{
    margin-left: 40px;
}
    .product-slider .product-item b{
    color: #0c5bee;
    margin-left: 30px;
}

.product-slider .product-item .product-top a.buy-now{


    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #640310;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: -45px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
 }
 .product-slider .product-item .product-top button.like{


    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #9e9a9a;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: 58px;
    bottom: -55px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
 }
 .product-slider .product-item .product-top:hover button.like{
  
    bottom: 55px;
   }
   .product-slider .product-item .product-top button.like:hover{
    background-color: #f3a38f;
    opacity: 0.85;
    
   }


   .product-slider .product-item .product-top button.sosanh{


    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #9e9a9a;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: auto;
    margin-left: 83%;
    bottom: -85px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
 }
 .product-slider .product-item .product-top:hover button.sosanh{
    
    bottom: 55px;
   }
   .product-slider .product-item .product-top button.sosanh:hover{
    background-color: #f3a38f;
    opacity: 0.85;
    
   }

  
 .product-slider .product-item .product-top:hover button.sosanh{
    
    bottom: 55px;
   }
   .product-slider .product-item .product-top button.sosanh:hover{
    background-color: #f3a38f;
    opacity: 0.85;
    
   }



   .product-slider .product-item .product-top:hover a.buy-now{

 bottom: 0px;
}

 
   
   .all-product-for-brand{
       margin-left: 1%;
       background-color: rgb(247, 247, 247);
    
       border-radius: 25px;
       width: 90%;
       height: auto;
   }
   .img{
       
       height: auto;
       margin-left: 1%;
   }
   .slick-product-all{
       background-color: bisque;
       height: auto;
       border-radius: 25px;
       width: 100%;
       margin-left: 3%;
   }
   .img-brand img{
       width: 100%;
       height: auto;
   
       border-radius: 25px;
   
   }
.slick-initialized .slick-slider{
margin: 0 10px;
}
.slick-prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color:rgb(255, 0, 0);
  border: none;
  z-index: 2;
  font-weight: bold;
  font-size: 24px;
  background-color: #fff;
}
.slick-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color:rgb(255, 0, 0);
  border: none;
  z-index: 2;
  right: 0;
  font-weight: bold;
  font-size: 24px;
  background-color: #fff;


}
.slick-prev:before, .slick-next:before {
    font-family: fontawesome;
    font-size: 30px;
    color: rgb(0, 0, 0);
    width: 100px;
    background-color: #0c5bee;
    visibility: hidden;
}
