<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800" ><a class="text-darkblue-800" style="cursor: pointer;" href="#">Trang chủ</a> > Thống Kê > Danh Sách Khách Hàng Hay Hủy Đơn</h1>
  </div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-list"></i> Danh Sách Khách Hàng Hay Hủy Đơn</h6>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Họ Và Tên</th>
                <th scope="col">Email</th>
                <th scope="col">Số Điện Thoại</th>
                <th scope="col">Địa Chỉ Giao Hàng</th>
                <th scope="col">Số Đơn Hủy</th>
                <th scope="col">Tổng Số Tiền</th>
                <!-- <th scope="col">Hành Động</th> -->
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in pager4.selectTopKhachHangHuyDonNhieuNhat">
                    <th scope="row">{{item[0]}}</th>
                    <th scope="row">{{item[1]}}</th>
                    <th scope="row">{{item[2]}}</th>
                    <th scope="row">{{item[3]}}</th>
                    <th scope="row">{{item[4]}}</th>
                    <th scope="row">{{item[5]}}</th>
                    <th scope="row">{{item[6] | currency : ''}} VNĐ</th>
                    <!-- <td>
                        <div class="btn-group btn-group-xs">
                            <button ng-click="edit(item)" class="btn btn-warning"><i class="fas fa-camera fa-xs"></i></button>
                            <button ng-click="delete(item)" class="btn btn-danger"><i class="fas fa-trash fa-xs"
                                    aria-hidden="true"></i></button>
                        </div>
                    </td> -->
                </tr>
            </tbody> 
          </table>
          <div class="row">
              <div class="col-sm-6">
                Hiển thị người dùng thứ <span>{{(pager1.page+1)*5-4}}</span> đến {{(pager1.page+1)*5}} trong danh sách người dùng
              </div>
              <div class="col-sm-6">
                <button ng-click="pager1.first()" class="btn btn-primary">
                    <i class="fas fa-step-backward"></i>
                </button>
                <button ng-click="pager1.prev()" class="btn btn-primary">
                    <i class="fas fa-backward"></i>
                </button>
                <button class="btn btn-success">{{pager1.page + 1}}/{{pager1.count}} trang</button>
                <button ng-click="pager1.next()" class="btn btn-primary">
                    <i class="fas fa-forward"></i>
                </button>
                <button ng-click="pager1.last()" class="btn btn-primary">
                    <i class="fas fa-step-forward"></i>
                </button>
              </div>
          </div>
         
    </div>
</div>